<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubledimple.shardingtest.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.doubledimple.shardingtest.entity.User">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
    </resultMap>

    <!--用户添加-->
    <insert id="addUser" parameterType="com.doubledimple.shardingtest.entity.User">
        insert into `user` (user_name, age, birthday, address, sex)
        values(#{userName}, #{age}, #{birthday}, #{address}, #{sex})
    </insert>

    <!--用户查询-->
    <select id="queryAllUser" resultMap="BaseResultMap" >
        select * from `user` where 1=1
    </select>


</mapper>
